*.class

# Package Files #
lib/*.jar
*.war
*.ear
*~
bin/*
gensrc/*
examples/helloandroid/gen/*
examples/helloandroid/gensrcdko/*
examples/helloworld/gensrcdko/*
examples/sakila/gensrcdko/*
gen/*
reports/*

# Eclipse project files
.classpath
.project

# IntelliJ project files
*.iml
.idea/*
