pre.prettyprint {
  margin-left: 2em;
  border: 0px;
  border-left: 1px solid #eee;
  padding-left: .5em;
}

p.note {
  background: #ffffee;
  border: 1px solid #eeeeee;
  padding: .5em 1em;
  margin: .5em 1em;
/*  float: right;
  max-width: 25em;
  margin-left: 1em;
  margin-top: 0em;
  margin-bottom: 0.5em;
*/
  font-size: smaller;
}
